html, body {
    width: 100%;
    height: 100%;
}
/* Main Layout
--------------------------------------------------------------*/
header {
    grid-area: h;
    align-items: center;
}
nav {
    grid-area: n;
    text-align: center;
    align-items: center;
    align-content: center;
}
main {
    padding: 1em 1em 1em 1em;
    text-align: center;
    align-items: center;
    grid-area: m;
}
footer {
    grid-area: f;
    text-align: center;
    align-items: center;
}
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
      "h"
      "n"
      "m"
      "f";
}

/* Home Layout
--------------------------------------------------------------*/
.lws-home{
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: auto auto auto auto;
}


/* Contact Layout
--------------------------------------------------------------*/
.lws-contact{
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: auto auto auto auto;
}

/* Gallery Layout
--------------------------------------------------------------*/
.lws-gallery-head{
    grid-area: gh;
}

.lws-gallery-left-1{
    grid-area: gl1;
    display: inline-block;
}
.lws-gallery-right-1{
    grid-area: gr1;
    display: inline-block;
}
.lws-gallery-left-2{
    grid-area: gl2;
    display: inline-block;
}
.lws-gallery-right-2{
    grid-area: gr2;
    display: inline-block;
}

.lws-gallery{
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "gh gh gh gh"
      "gl1 gl2 gr1 gr2";
}

@media (max-width: 1190px) {
    .lws-gallery {
    grid-template-areas: 
    "gh gh"
    "gl1 gr1"
    "gl2 gr2";
    }
}

@media (max-width: 600px) {
    .lws-gallery {
    grid-template-areas: 
    "gh"
    "gl1"
    "gr1"
    "gl2"
    "gr2";
    }
}

/* Pricing Layout
--------------------------------------------------------------*/  

.lws-pricing-head{
    grid-area: ph;
}

.lws-pricing-left{
    text-align:left;
    grid-area: pl;
}

.lws-pricing-right{
    grid-area: pr;
}

.lws-pricing{
    display: grid;
    justify-content: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "ph ph ph"
      "pl pl pr";
}