<div class="lws-gallery">
    <div class="lws-gallery-head">
        <h1>Picutres of work I've done!</h1>
        <hr class="lws-hr" />
    </div>
    <div class="lws-gallery-left-1">
        <a href="/img/LWSHumbleShop.jpg" target="_blank"><img src="./img/LWSHumbleShop.jpg" alt="Humble Shop" class="lws-image" /></a>
        <a href="/img/LWSCoaster.jpg" target="_blank"><img src="./img/LWSCoaster.jpg" alt="Coasters" class="lws-image" /></a>
    </div>
    <div class="lws-gallery-left-2">
        <a href="/img/LWSBlueVelvetBox.jpg" target="_blank"><img src="./img/LWSBlueVelvetBox.jpg" alt="Blue Velvet Box" class="lws-image" /></a>
        <a href="/img/LWSRedVelvetBox.jpg" target="_blank"><img src="./img/LWSRedVelvetBox.jpg" alt="Red Velvet Box" class="lws-image" /></a>
    </div>
    <div class="lws-gallery-right-1">
        <a href="/img/LWSN64Display.jpg" target="_blank"><img src="./img/LWSN64Display.jpg" alt="N64 Display" class="lws-image" /></a>
        <a href="/img/LSWMothersDay.jpg" target="_blank"><img src="./img/LSWMothersDay.jpg" alt="Mothers Day Box" class="lws-image" /></a>
    </div>
    <div class="lws-gallery-right-2">
        <a href="/img/LWSPortabelloBolette.jpg" target="_blank"><img src="./img/LWSPortabelloBolette.jpg" alt="Dragon Born Minis" class="lws-image" /></a>
        <a href="/img/LWSDjTable.jpg" target="_blank"><img src="./img/LWSDjTable.jpg" alt="Table I made for a friend" class="lws-image" /></a>

    </div>
</div>