<div class="lws-gallery">
    <div class="lws-gallery-head">
        <h1>Picutres of Things I Made From Wood</h1>
    </div>
    <div class="lws-gallery-left-1">
        <a href="./img/HumbleShop.jpg" target="_blank"><img src="./img/HumbleShop.jpg" alt="Humble Shop" class="lws-image" /></a><br/>
        <a href="./img/WalnutCoasters.jpg" target="_blank"><img src="./img/WalnutCoasters.jpg" alt="Walnut Coasters" class="lws-image" /></a>
        <a href="./img/N64DisplayStand.jpg" target="_blank"><img src="./img/N64DisplayStand.jpg" alt="N64 Display Stand" class="lws-image" /></a>
    </div>
    <div class="lws-gallery-left-2">
        <a href="./img/CedarBoxFront.jpg" target="_blank"><img src="./img/CedarBoxFront.jpg" alt="Cedar Box Front" class="lws-image" /></a>
        <a href="./img/CedarBoxBack.jpg" target="_blank"><img src="./img/CedarBoxBack.jpg" alt="Cedar Box Back" class="lws-image" /></a>
    </div>
    <div class="lws-gallery-right-1">
        <a href="./img/BoxGreenRound.jpg" target="_blank"><img src="./img/BoxGreenRound.jpg" alt="Green Box Round Feet" class="lws-image" /></a>
        <a href="./img/BlueBoxRound.jpg" target="_blank"><img src="./img/BlueBoxRound.jpg" alt="Blue Box Round Feet" class="lws-image" /></a>
        <a href="./img/BlackBoxRound.jpg" target="_blank"><img src="./img/BlackBoxRound.jpg" alt="Black Box Round Feet" class="lws-image" /></a>
        <a href="./img/MetalFootBox.jpg" target="_blank"><img src="./img/MetalFootBox.jpg" alt="Metal Foot Box" class="lws-image" /></a>
    </div>
    <div class="lws-gallery-right-2">
        <a href="./img/BoxGreenOval.jpg" target="_blank"><img src="./img/BoxGreenOval.jpg" alt="Green Box Oval Feet" class="lws-image" /></a>
        <a href="./img/BlueBoxFlare.jpg" target="_blank"><img src="./img/BlueBoxFlare.jpg" alt="Blue Box Flare Feet" class="lws-image" /></a>
        <a href="./img/BlackBoxFlare.jpg" target="_blank"><img src="./img/BlackBoxFlare.jpg" alt="Black Box Flare Feet" class="lws-image" /></a>
        <a href="./img/WoodFootBox.jpg" target="_blank"><img src="./img/WoodFootBox.jpg" alt="Wood Foot Box" class="lws-image" /></a>
    </div>
</div>