<div>
	<div style="text-align: center;">
		<h1>Welcome to the shop.</h1>
		Right now I'm a one-man shop getting started out of the garage, and can put in roughly
		8 hours a week. It is my hope to hone this craft and
		provide you with either the inspiration to get started yourself,
		or a quality piece of work that you'll enjoy for a good long time.
		Right now I'm focusing on pieces that are small for table top gaming, but
		I'd like to eventually move on to more general, and larger projects.
		<br /><br />
		Thanks for stopping by,<br />
		Grayson Lorenz
	</div>
</div>