<div>
    <div style="text-align: center;">
        Heres a quick breakdown of options and pricing for any projects I'm currently selling.<br />
        <h2>Dice trays</h2><br />
        Dice trays are 5"x7" with a rolling area of 6"x4", they are 3/4" deep, and their standing height varies depending on the feet chosen.<br />
        The only required part of a dice box is the basic box.
    </div>

    <div class="usa-grid-full">
        <div class="usa-width-one-half">
            <a href="./img/FinishExample.jpg"><img src="./img/FinishExample.jpg" alt="Finish Example" class="lws-image" /></a>
        </div>

        <div class="usa-width-one-half">
            <a href="./img/VelvetExample.jpg"><img src="./img/VelvetExample.jpg" alt="Velvet Example" class="lws-image" /></a>
        </div>
    </div>
    <div>
        <strong>Basic box materials:</strong> In the picture above golden is on the left, with natural on the right.
        <ul>
            <li>
                Oak (natural finish or golden oak finish): $15
            </li>
        </ul>
        <strong>Box Feet</strong>
        <ul>
            <li>
                Wood (ball, flare): $5
            </li>
            <li>
                Metal: $7
            </li>
        </ul>
        <strong>Lining: </strong> Keep in mind with velvet that depending on the viewing angle you will see more of that "shine". 
        <ul>
            <li>
                Velvet (dark blue, light blue, red, green): $7
            </li>
            <li>
                Vinyl Leather (black)  : $5
            </li>
        </ul>
    </div>
</div>
