<div class="lws-pricing">
    <div class="lws-pricing-head">
        <h1>General Pricing</h1>
        <hr class="lws-hr" />
        <p>
            While everything I do depends on the materials used, size of project and how unique it is,
            <br />here is a guideline for what my usual pieces cost. Examples on the Right.<br /><br />
            For estimates or orders please see the contact page and email or call!
        </p>
        <hr class="lws-hr" />
    </div>
    <div class="lws-pricing-left">
        Dice trays: $30 <br />
        <ul>
            <li>Liner: Velvet, vynil, or none.</li>
            <li>Feet: Wood, metal or none.</li>
            <li>Please contact for color and style options.</li>
        </ul>
    </div>
    <div class="lws-pricing-right">
        <a href="./img/LWSBlueVelvetBox.jpg" target="_blank"><img src="./img/LWSBlueVelvetBox.jpg" alt="Blue Velvet Box" class="lws-image" /></a><br/>
        Here's an example of a blue velvet lined box, with wood feet.
    </div>
</div>