<div class="lws-pricing">
    <div class="lws-pricing-head">
        <h1>Genearal costs</h1>
        <p>
            While everything I do depends on the materials used, size of project and how unique it is,
            <br />here is a guideline for what my usual pieces cost. Examples on the Right.<br /><br />
        For estimates on any custom pieces such as furniture, board's for board games, etc: Please see the Contact page and email or call!
        </p>
    </div>
    <div class="lws-pricing-left">
        Dice trays (4" x 6", vinyl Liner, wood feet): $25 <br />
        +$2 for velvet liner instead of vinyl, choice of color <br />
        +$3 for metal feet instead of wood<br /><br />
    </div>
    <div class="lws-pricing-right">
        <a href="./img/BlackBoxRound.jpg"><img src="./img/BlackBoxRound.jpg" alt="Vinyl Wood" class="lws-image" /></a><br />
        <a href="./img/MetalFootBox.jpg"><img src="./img/MetalFootBox.jpg" alt="Velvet Metal" class="lws-image" /></a><br />
        <a href="./img/FinishExample.jpg"><img src="./img/FinishExample.jpg" alt="Finish Example" class="lws-image" /></a><br/>
        <a href="./img/VelvetExample.jpg"><img src="./img/VelvetExample.jpg" alt="Velvet Example" class="lws-image" /></a>
    </div>
</div>